* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body header {
    background-color: #85CDF5 ;
    width: 1401px ;
    height: 130px ;
    display: flex ;
    flex-direction: row;
    
}

body header div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body header div a p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 30px ;
    color: black;
    font-size: 30px ;
    font-weight: 700px ;
    margin-left: 100px;
    margin-right: 100px;

    &:hover {
        color: #1b3c5e;
        transition: 0.2s;
    }
}

header div a{
    text-decoration: none; 
    color: inherit;
}


.slide, .slide img {
    width: 1401px;
    height: 500px;
}


.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C5680;
    flex-direction: column;
    width: 1401px;
    height: 300px;
}

.sobre h1{
    color: #DEB959;
    width: 112px;
    min-height: 65px;
    font-size: 48px;
    font-family: Darker Grotesque; 
}

.sobre p{
    width: 960px;
    height: 166px;
    size: 24px;
    font-size: large;
    font-weight: 400;
    line-height: 32px;
    color: white;
}

h1, h2, h3, p {
    font-family: 'Darker Grotesque', sans-serif;
}

.valores{
    width: 1401px;
    height: 700px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.valores div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 1000px;
    margin-top: 40px;
}

.valores h1{
    width: 139px;
    height: 65px;
    font-size: 48px ;
    color: #DEB959;
}

.valores img{
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
        scale: 1.1;
        transition: 0.2s;
    }
}

.lobos {
    width: 1039px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.lobo {
    width: 430px;
    height: 328px;
}

.info_lobo {
    display: flex;
    flex-direction: column;
    height: 328px;
    justify-content: space-evenly;
}

.exemplo {
    color: #DEB959;
    padding-bottom: 20px;
    font-size: 48px;
}

.contLobo{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.info_lobo h1{
    font-size: 36px;
}

.info_lobo h3{
    font-size: 20px;
    font-weight: normal;
}

.info_lobo p{
    width: 461px;
    padding-top: 20px;
}

iframe{
    width: 250px;
    height: 168px;
}

footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 500px ;
    width: 100%;
    height: 361px;
    background-color: #333333;
}

.fott{
    margin-left: 200px ;
    width: 433px ;
    height: 50% ;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #DEB959;
}

button a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.paw{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 15px;
}

.paw h1{
    color: white;
    font-family: 24px ;
}