* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}



body header {
    background-color: #85CDF5 ;
    width: 1400px ;
    height: 4.5% ;
    display: flex  ;
    flex-direction: row ;
    
}




body header div{
    width: 100% ;
    height: 100% ;
    display: flex ;
    justify-content: space-between ;
    align-items: center;
}






body header div a p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 30px ;
    color: black;
    font-size: 30px ;
    font-weight: 700px ;
    margin-left: 100px;
    margin-right: 100px;

}

header div a{
    text-decoration: none; 
    color: inherit;
}


.slide{
    width: 1401px;
    height: 500px ;

}


.sobre{
    
    background-color: #2C5680;
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center ;
    width: 1401px;
    height: 333px;
}

.sobre h1{
    color: #DEB959;
    width: 112px;
    min-height: 65px;
    font-size: 48px;
    font: Darker Grotesque ; 
}

.sobre p{
    width: 960px;
    height: 166px;
    size: 24px;
    font-weight: 400px ;
    line-height: 32px;
    color: white;
}

h1, h2, h3, p {
    font-family: 'Darker Grotesque', sans-serif;
}

.valores{
    width: 1401px;
    height: 625px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.valores div{
    
    gap: 5px ;
    margin-top: 40px;
}

.valores h1{
    width: 139px;
    height: 65px;
    font-size: 48px ;
    color: #DEB959;
}

.valores img{
    margin-left: 5px;
    margin-right: 5px;
}


.lobos{
    width: 1039px ;
    height: 789px ;
    display: flex ;
    flex-direction: column ;
    align-items: center;
    gap: 30px;
    margin-top: 140px;
    margin-bottom: 140px;
    
}

.exemplo{
    width: 277px;
    height: 65px;
    color: #DEB959;
    size: 48px;
}




.contLobo{
    display: flex;
    flex-direction: row ;
    gap: 40px;
}


.info_lobo h1{
    font-size: 36px;
}

.info_lobo h3{
    font-size: 20px;

}

.info_lobo p{
    width: 461px ;
    height: 235px ;


}


iframe{
    width: 250px;
    height: 168px;
}


footer{
    margin-top: 10px;
    display: flex ;
    flex-direction: row;
    align-items: center ;
    gap: 500px ;
    width: 100%;
    height: 361px;
    background-color: #333333;
}

.fott{
    margin-left: 200px ;
    width: 433px ;
    height: 50% ;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

button{
    width: 144px;
    height: 33px;
    background-color: #DEB959 ;

}



button a{
    list-style: none;
}


button p{
    
    font-size: 25px ;
    font-weight: 700;
    color: black;
}


.paw{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 15px;
}


.paw h1{
    color: white;
    font-family: 24px ;
}
