body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #85CDF5;
    width: 100%;
    height: 130px; 
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

header nav a img {
    width: 90px;
    height: 100px;
}

/*-------------------------------------------MAIN------------------------------------*/

.filtrolobos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtrolobos #pesquisarlobo{
    width: 800px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 15px;
    
}

.filtrolobos div button {
    width: 130px;
    height: 35px;
    background-color: #DEB959;
    color: white;
    border: none;
}

.checkbox {
    display: flex;
    margin-top: 5px;
    margin-right: 775px;
}

.exibirlobos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobo{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    width: 1000px;
    height: 360px;
}

.nomeebotao{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nomeebotao button{
    width: 150px;
    height: 45px;
    font-size: 30px;
    background-color: #DEB959;
    border: none;
    color: white;
}

.nomeebotao2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nomeebotao2 button{
    width: 150px;
    height: 45px;
    font-size: 30px;
    background-color: #DEB959;
    border: none;
    color: white;
}

.descricao2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.fotoetexto{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fotoetexto2{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.fotoetexto img{
    width: 430px;
    height: 330px;
    border: 1px solid black;
}

#pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.foto {
    width: 430px;
    height: 328px;
    object-fit: cover;
}

/*-------------------------------------------FOOTER------------------------------------*/

footer {
    width: 100%;
    height: 270px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
    justify-content: center;
}

.contato{
    display: flex;
    flex-direction: column;
}

.contato img {
    width: 380px;
    height: 100px;

}

.contato button{
    margin-top: 10px;
    width: 140px;
    height: 30px;
    background-color: #DEB959;
}

.patas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patas img{
    width: 100px;
    height: 100px;
}

.patas p{
    font-size: 18px;
    color: white;
}